<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541516325231-rcgrha4csl53ks5o22en97dskmlnjboh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541516325231-rcgrha4csl53ks5o22en97dskmlnjboh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541516325231-602oe5go9pip3irqar396at12e738v2v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFO-DXJ0NazFbZ05iT7MNY54UB_d9FNCM</string>
	<key>GCM_SENDER_ID</key>
	<string>541516325231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.help4youcompany.help4you</string>
	<key>PROJECT_ID</key>
	<string>help4you-f4e08</string>
	<key>STORAGE_BUCKET</key>
	<string>help4you-f4e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541516325231:ios:9f1fccba179b83c892089a</string>
</dict>
</plist>